### Build output ###
/target/
build/

### Maven wrapper ###
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### NetBeans ###
nbbuild/
nbproject/private/
dist/
nbdist/
.nb-gradle/

### Eclipse ###
.classpath
.project
.settings/
